@import url(global.css);
#main {
    display: flex;
    padding: 1em;
    padding-left: 5em;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: white;
    background: var(--global-std-grad);
    height: 85vh;
    width: auto;
}

#main h1 {
    font-size: 7em;
    margin: 0;
}

#main h2 {
    font-size: 1.5em;
    margin: 0;
}

footer {
    background: white;
}

footer p {
    background: var(--global-std-grad);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}